.panel.panel-default
  .panel-heading.large(ng-hide="view === 'interviewee'") Voluntary Self-Identification of Gender,
    | Race & Ethnicity
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12.form-group
            label.control-label Gender
            .col-md-12.control-group
                .radio(data-ng-repeat='gender in vm.options.genders')
                  label
                    input.radio(type='radio', value='{{gender.code}}', ng-model='vm.eeo' +
                    '.gender',
                    name='gender', required)
                    span {{gender.description}}
                      i.fa.fa-info-circle.fa-fw(ng-if="gender.detail",tooltip='{{gender' +
                      '.detail}}',
                      tooltip-class="customClass", tooltip-animation="true", tooltip-placement="right")
    .row
      .col-md-12
        .row
          .col-md-12.form-group
            label.control-label Ethnicity
              .col-md-12.control-group
                .radio(data-ng-repeat='ethnicity in vm.options.ethnicities')
                  label
                    input.radio(type='radio', value='{{ethnicity.code}}', ng-model='vm.eeo' +
                    '.ethnicity',
                    name='ethnicity', required)
                    span {{ethnicity.description}}
                    i.fa.fa-info-circle.fa-fw(ng-if="ethnicity.detail",tooltip='{{ethnicity' +
                    '.detail}}',
                    tooltip-class="customClass", tooltip-animation="true", tooltip-placement="right")
    .row
      .col-md-12
        .row
          .col-md-12.form-group
            label.control-label Race
            .col-md-12.control-group
              .checkbox(data-ng-repeat='race in vm.options.races')
                label
                  input.checkbox-inline(type="checkbox", ng-change="vm.declineOff()", ng-model=('vm.eeo.race[race.code]'), checklist-value='race.description')
                  span {{race.description}}
                  i.fa.fa-info-circle.fa-fw(ng-if='race.detail', tooltip='{{race.detail}}',
                  tooltip-class="customClass", tooltip-animation="true", tooltip-placement="right")
              .radio
                label
                  input.radio#decline(type='radio', ng-change="vm.declineAnswer(vm.eeo.race)",
                  value='true', ng-model='vm.eeo.race.declined', name='declined')
                  span I decline to answer
              input(type='hidden', ng-model='vm.eeo.race.declined', required)