.container
    .col-md-12
        form.form-horizontal(novalidate='')
            fieldset
                .form-group.col-xs-12.col-md-6
                    label.control-label(for='position') Position
                    select#position.form-control(ng-options="position._id as position.name for position in vm.options.positions", ng-change="vm.extractData()", data-ng-model='vm.position', required='')
                        option(value="all") --All Positions--
    .row
        .col-xs-12.col-md-6.form-group
            label.control-label Start Date
            p.input-group
                input.form-control(
                name="dateStart",
                type="text",
                datepicker-popup="",
                is-open="vm.datePickerStates.dateStartOpen",
                close-text="Close",
                ng-model="vm.opening.dateStart",
                novalidate
                )
                span.input-group-btn
                    button.btn.btn-default(type="button", ng-click="vm.toggleDatePicker($event, " +
                    "'dateStart')")
                        i.fa.fa-calendar
                .col-xs-12.col-md-6.form-group
                            label.control-label End Date
                            p.input-group
                                input.form-control(
                                name="dateEnd",
                                type="text",
                                datepicker-popup="",
                                is-open="vm.datePickerStates.dateEndOpen",
                                close-text="Close",
                                ng-model="vm.opening.dateEnd",
                                novalidate
                                )
                                span.input-group-btn
                                    button.btn.btn-default(type="button", ng-click="vm.toggleDatePicker($event, " +
                                    "'dateEnd')")
                                        i.fa.fa-calendar

