.col-md-12
  .row
    h2 Overview
  .well.row
    .row
      .col-md-6.form-group
        label.control-label Opening Title
        .form-control-static(ng-bind="vm.opening.name")
      .col-md-3.form-group
        label.control-label Opening Date
        .form-control-static(ng-bind="vm.opening.dateStart | date")
      .col-md-3.form-group
        label.control-label Closing Date
        .form-control-static(ng-bind="vm.opening.dateClose | date")
  .row
    h2 Your Details
  .row(ng-if="!vm.user._id")
    .well
      user-signup-or-signin-form(user="vm.user")
  .row(ng-if="vm.user._id && !vm.application._id")
    .well
      ng-form(name="vm.userDetailsForm")
        .row
          .col-md-2.form-group
            label.control-label Title
            input.form-control(name="honorific", type="text", ng-model="vm.application.honorific", required)
          .col-md-3.form-group
            label.control-label First Name
            input.form-control(name="firstName", type="text", ng-model="vm.application.firstName", required)
          .col-md-3.form-group
            label.control-label Middle Name
            input.form-control(name="middleName", type="text", ng-model="vm.application.middleName")
          .col-md-4.form-group
            label.control-label Last Name
            input.form-control(name="lastName", type="text", ng-model="vm.application.lastName", required)
        .row
          .col-xs-12
            button.btn.btn-workflow(ng-click="vm.createApplication()", ng-disabled="vm.userDetailsForm.$invalid") Step 2: Confirm Application Details
  .row(ng-if="vm.user._id && vm.application._id")
    .well
      .row
        .col-md-2.form-group
          label.control-label Title
          .form-control-static(ng-bind="vm.application.honorific")
        .col-md-3.form-group
          label.control-label First Name
          .form-control-static(ng-bind="vm.application.firstName")
        .col-md-3.form-group
          label.control-label Middle Name
          .form-control-static(ng-bind="vm.application.middleName")
        .col-md-4.form-group
          label.control-label Last Name
          .form-control-static(ng-bind="vm.application.lastName")
  .row(ng-if="vm.application._id")
    h2 Attached Documents
  .row(ng-if="vm.application._id")
    du-application-upload-file(
      heading="Cover Letter",
      upload-method="vm.uploadFile(file, type)",
      upload-type="coverLetter",
      show-remove-option="true",
      file-metadata="vm.application.coverLetterFileMeta",
      remove-file-method="vm.removeFile(fileId)",
      file-model="vm.application.coverLetter"
      )
    du-application-upload-file(
      heading="Curriculum Vitae",
      upload-method="vm.uploadFile(file, type)",
      upload-type="cv",
      show-remove-option="true",
      file-metadata="vm.application.cvFileMeta",
      remove-file-method="vm.removeFile(fileId)"
      )
  .row(ng-if="vm.application.coverLetter && vm.application.cv")
    .col-md-12
      button.btn.btn-save(ng-click="vm.submitApplication()") Step 4: Submit Your Application
