.row(ng-repeat="worksheetField in vm.worksheetFields | orderBy : order")
  .col-xs-12
    h3(ng-bind="worksheetField.label")
  .col-xs-12(ng-if="worksheetField.description")
    em(ng-bind="worksheetField.description")
  .col-md-12.form-group(ng-if="worksheetField.fieldType === 'input'")
    input.form-control(
    type="text",
    ng-model="worksheetField.response"
    )
  .col-md-12.form-group(ng-if="worksheetField.fieldType === 'textarea-simple'")
    textarea.form-control(
    rows="3",
    ng-model="worksheetField.response"
    )
  .col-md-12.form-group(ng-if="worksheetField.fieldType === 'textarea'")
    div(
    text-angular
    ng-model="worksheetField.response"
    )
  .col-md-12.form-group(ng-if="worksheetField.fieldType === 'select'")
    select.form-control(
    ng-options="selectOption for selectOption in worksheetField.selectOptions",
    ng-model="worksheetField.response"
    )
      option(value="") --Choose--
  .col-md-12.checkbox(ng-if="worksheetField.fieldType === 'checkbox'")
    label
      input(
      type="checkbox",
      ng-model="worksheetField.response"
      )
      | Yes
//pre.col-xs-12 {{ vm.worksheetFields | json }}