.angular-filtering.inline-controls
    .col-xs-12
        .row
            .col-xs-12.col-md-4
                .input-group
                    .input-group-addon Start Date
                    input.form-control(
                    name="dateStart",
                    type="text",
                    datepicker-popup="",
                    is-open="vm.datePickerStates.dateStartOpen",
                    close-text="Close",
                    ng-model="vm.dateStart",
                    ng-change="vm.extractData()",
                    novalidate
                    )
                    span.input-group-btn
                        button.btn.btn-default(type="button", ng-click="vm.toggleDatePicker($event, " +
                        "'dateStart')")
                            i.fa.fa-calendar
            .col-xs-12.col-md-4
                .input-group
                    .input-group-addon End Date
                    input.form-control(
                    name="dateEnd",
                    type="text",
                    datepicker-popup="",
                    is-open="vm.datePickerStates.dateEndOpen",
                    close-text="Close",
                    ng-model="vm.dateEnd",
                    ng-change="vm.extractData()",
                    novalidate
                    )
                    span.input-group-btn
                        button.btn.btn-default(type="button", ng-click="vm.toggleDatePicker($event, " +
                        "'dateEnd')")
                            i.fa.fa-calendar
        .row
            .col-xs-12.col-md-4
                .input-group
                    .input-group-addon Position
                    select.form-control(ng-model="vm.position", ng-change="vm.extractData()", ng-options="position._id as position.name for position in vm.options.positions")
                        option(value="") -- All Positions --
            .col-md-8.text-right
                button.btn.btn-undo(ng-click="vm.clearFilters()") Clear Filters


