section
  navigation
  .row
    .col-xs-12
      opening-view
      .row
        .col-xs-6
          du-list-applications-smart-component(
          ng-if="vm.user.hasRole(['admin', 'committee member'])",
            view-mode="activeForOpening",
            opening-id="vm.opening._id"
          )
        .col-xs-6
          du-list-applications-smart-component(
            ng-if="vm.user.hasRole(['admin', 'committee member'])",
            view-mode="inactiveForOpening",
            opening-id="vm.opening._id"
          )

      du-position-info-smart-component(
        ng-if="vm.user.hasRole(['admin', 'committee member'])",
        position-id="vm.opening.position"
      )