section
  navigation
  .label.pull-right.btn-legacy(ng-if="vm.opening.legacy") Legacy
  .row
    .col-xs-12
      opening-view
      .row
        .col-md-6
          .row
            .col-md-12
              du-list-applications-smart-component(
                ng-if="vm.user.hasRole(['admin', 'committee member', 'manager'])",
                view-mode="successfulForOpening",
                opening-id="vm.opening._id"
              )
            .col-md-12
              du-list-applications-smart-component(
              ng-if="vm.user.hasRole(['admin', 'committee member', 'manager'])",
              view-mode="activeForOpening",
              opening-id="vm.opening._id"
              )
        .col-md-6
          du-list-applications-smart-component(
            ng-if="vm.user.hasRole(['admin', 'committee member', 'manager'])",
            view-mode="inactiveForOpening",
            opening-id="vm.opening._id"
          )


      du-position-info-smart-component(
        ng-if="vm.user.hasRole(['admin', 'committee member', 'manager'])",
        position-id="vm.opening.position"
      )