ng-form(name="vm.userForm", ng-if="!vm.passwordResetLinkSent")
  .row
    .col-xs-12.form-group(ng-class="{ 'has-success': vm.userForm.email.$valid, 'has-warning': vm.userForm.email.$invalid && vm.userForm.email.$dirty}")
      label.control-label Email Address
      .input-group
        input.form-control(name="email", type="email", du-validate-email, ng-model="vm.user.email", required)
        .input-group-addon
          i.fa.fa-envelope
    .col-xs-12.form-group(ng-show="vm.userForm.email.$dirty", ng-class="{ 'has-success': vm.userForm.email.$valid, 'has-warning': vm.userForm.email.$invalid && vm.userForm.email.$dirty}")
      .message  {{ vm.emailStatusMessage() }}

  .row(ng-show="vm.userForm.email.$valid && !vm.accountIsShib && !vm.checkingEmail")
    .col-md-12.form-group(ng-class="{'has-success': vm.passwordIsStrong }")
      label.control-label Password
      .input-group
        input.form-control(type="password", name="password", ng-model="vm.user.password", required)
        .input-group-addon
          i.fa.fa-key
    .col-md-12.form-group(ng-show="vm.userForm.password.$dirty", ng-class="{'has-success': vm.passwordIsStrong }")
      .message {{ vm.checkPassword() }}

  .row(ng-show="vm.passwordIsStrong && vm.emailIsUnique && vm.userForm.email.$valid")
    .col-xs-12.form-group(ng-class="{'has-success': vm.passwordsMatch && vm.userForm.password.$valid}")
      label.control-label Confirm Password
      .input-group
        input.form-control(type="password", name="passwordConfirm", ng-model="vm.user.passwordConfirm", ng-required="vm.emailIsUnique")
        .input-group-addon
          i.fa.fa-key
    .col-xs-12.form-group(ng-show="vm.userForm.passwordConfirm.$dirty", ng-class="{'has-success': vm.passwordsMatch && vm.userForm.password.$valid}")
      .message {{ vm.checkPasswordConfirm() }}

  .row(ng-show="vm.userIsNew() && vm.userForm.password.$valid && vm.passwordsMatch")
    .col-md-2.form-group
      label.control-label Title
      input.form-control(name="honorific", type="text", ng-model="vm.user.honorific", required)
    .col-md-3.form-group
      label.control-label First Name
      input.form-control(name="firstName", type="text", ng-model="vm.user.firstName", required)
    .col-md-3.form-group
      label.control-label Middle Name
      input.form-control(name="middleName", type="text", ng-model="vm.user.middleName")
    .col-md-4.form-group
      label.control-label Last Name
      input.form-control(name="lastName", type="text", ng-model="vm.user.lastName", required)

  .row
    .col-xs-12.form-group
      button.btn.btn-login(
        ng-if="!vm.userIsNew() && vm.userForm.email.$valid && !vm.checkingEmail && !vm.accountIsShib",
        ng-click="vm.signin()",
        ng-disabled="!vm.userForm.password.$valid"
        ) Step 1: Looks like you've been here before, Login
      button.btn.btn-default.btn-workflow(
        ng-show="vm.userIsNew() && !vm.checkingEmail",
        ng-click="vm.signup()",
        ng-disabled="vm.userForm.$invalid || vm.checkingEmail || !vm.emailIsUnique"
        ) Step 1: Create Your Profile
  .row(ng-show="vm.failedLogin")
    .col-xs-12.form-group
      a(ng-click="vm.forgotPassword()") Trouble logging in? Click here to recover your forgotten password.
.row(ng-if="vm.passwordResetLinkSent")
  .col-xs-12
    .alert.alert-info(ng-bind="vm.passwordResetLinkSent")

